<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Vue.js - Directivas para render de listas</title>
  <meta name="description" content="">
</head>

<body>
  <main>
    <input type="search" v-model="search">
    <ul>
      <li v-for="game in searchGame">
        {{ game.title }}
      </li>
    </ul>
    <input type="range" min="0" max="10" v-model="minScore">

    <pre>{{ $data }}</pre>
  </main>

  <!-- vue development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="js/main.js"></script>
</body>

</html>