<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Vue.js - Component templates</title>
  <meta name="description" content="">
</head>

<body>
  <main>
    <choose-winner :list="people"></choose-winner>

    <pre>{{ $data }}</pre>
  </main>

  <!-- Component template -->
  <template id="choose-winner-template">
    <div>
      <h1 v-if="winner">El ganador es: {{ winner }}</h1>
      <template v-else>
        <h1>Participantes</h1>
        <ul>
          <li v-for="person in list" v-text="person"></li>
        </ul>
      </template>

      <button @click="chooseWinner">Elegir ganador</button>
    </div>
  </template>

  <!-- vue development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="js/main.js"></script>
</body>

</html>